@model IEnumerable<Product>
 
<div class="row">
    
    <div class="slider-area">
        <div class="slider-active owl-carousel">
          
            <div class="single-slider slider-h1-2 pt-215 pb-100 bg-img" style="background-image:url('/images/anh1.png');">
               @* <div class="container">
                    <div class="slider-content slider-content-2 slider-animated-1">
                        <h3>We can help get your</h3>
                        <h4>Books in Order</h4>
                        <h6>and Accessories</h6>
                        <a href="#">Contact Us Today!</a>
                    </div>
                </div>*@
            </div>  <div class="single-slider slider-h1-2 pt-215 pb-100 bg-img" style="background-image:url('/images/anh2.png');">
               @* <div class="container">
                    <div class="slider-content slider-content-2 slider-animated-1">
                        <h3>We can help get your</h3>
                        <h4>Books in Order</h4>
                        <h6>and Accessories</h6>
                        <a href="#">Contact Us Today!</a>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    <div class="banner-area banner-res-large pt-30 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-5 col-12">
                    
                </div>
                <div class="col-lg-4 col-md-6 col-sm-4 col-12">
                    <div class="single-banner mb-30">
                        <div class="banner-img">
                            <a href="#"><img src="~/images/banner/3.png" alt="banner" /></a>
                        </div>
                        <div class="banner-text">
                            <h3 style="color:orangered">ALL BOOKS</h3>

                        </div>
                    </div>


                </div>
                <div class="col-lg-3 col-md-6 col-sm-3 col-12">
                    
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="row pb-5">

    @foreach(var product in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12 p-1" style=" border:1px solid #008cba; border-radius:5px;">
                    <div class="card">
                        <img src="@product.ImageURL" style="height: 200px; width: 100%; object-fit:cover;" class="card-img-top rounded"/>
                        <div class="card-body">
                            <div class="pl-1">
                                <p class="card-title h4 text-dask text-over">@product.Title </p>
                                <p class="card-title text-info">by <b> @product.Author </b>  </p>
                            </div>
                            <div class="pl-1">
                                <p> List Price: <strike> <b>$@product.ListPrice.ToString("0.00") </b> </strike> </p>
                            </div> 
                            <div class="pl-1">
                                <p> As low as:  <b>$@product.Price50.ToString("0.00") </b>  </p>
                            </div>
                        </div>
                    </div>  
                    <div>
                        <a asp-action="Details" class="btn btn-primary form-control" asp-route-productId="@product.Id">
                        Details
                    </a>
                        
                    </div>
                </div>    
            </div>
        </div>  
    }
</div>

<div class="bestseller-area pb-100 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="bestseller-content">
                    <h1>Author best selling</h1>
                    <h2>J. K. <br />Rowling</h2>
                    <p class="categories">categories:<a href="#">Books</a> , <a href="#">Audiobooks</a></p>
                    <p>Vestibulum porttitor iaculis gravida. Praesent vestibulum varius placerat. Cras tempor congue neque, id aliquam orci finibus sit amet. Fusce at facilisis arcu. Donec aliquet nulla id turpis semper, a bibendum metus vulputate. Suspendisse potenti. </p>
                    <div class="social-author">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="banner-img-2">
                    <a href="#"><img style="height:500px; width: 300px; object-fit:cover;" src="https://htmldemo.net/koparion/koparion/img/banner/6.jpg" alt="banner" /></a>
                </div>
            </div>
           
        </div>
    </div>
</div>
 <div class="banner-area banner-res-large pt-30 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-banner mb-30">
                        <div class="banner-img">
                            <a href="#"><img src="~/images/banner/1.png" alt="banner" /></a>
                        </div>
                        <div class="banner-text">
                            <h4>Free shipping item</h4>
                            <p>For all orders over $500</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-banner mb-30">
                        <div class="banner-img">
                            <a href="#"><img src="~/images/banner/2.png" alt="banner" /></a>
                        </div>
                        <div class="banner-text">
                            <h4>Money back guarantee</h4>
                            <p>100% money back guarante</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-banner mb-30">
                        <div class="banner-img">
                            <a href="#"><img src="~/images/banner/3.png" alt="banner" /></a>
                        </div>
                        <div class="banner-text">
                            <h4>Cash on delivery</h4>
                            <p>Lorem ipsum dolor consecte</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-banner mb-30">
                        <div class="banner-img">
                            <a href="#"><img src="~/images/banner/4.png" alt="banner" /></a>
                        </div>
                        <div class="banner-text">
                            <h4>Help & Support</h4>
                            <p>Call us : + 0123.4567.89</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>